* {
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

html {
    font-size: 16px;
}

body {
    line-height: 1;
}

header {
    padding-top: 60px;
    position: absolute;
    text-align: 100px;
    top: 3%;
    transform: translate(0, -50%);
    z-index: 1000;
    background-color: #f1f4f9;
    width: 100%;
    width: 1920px;
    height: 156px;
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.08);
}

header .logo img {
    width: 244px;
    display: block;
}

.enter {
    width: 450px;
    border-radius: 1px;
    border: 5px;
    padding: 5px;
    background-size: cover;
    border: solid 0.05rem;
    background-color: white;
    height: 35px;
    border-radius: 6px;
    border: solid 1px #c0cfe0;
}

.enter ::placeholder {
    padding-left: 50px;
    background-color: white;
}

header .phone .phone_number {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
    font-weight: bold;
}

header .phone .address {
    font-size: 15px;
    margin-left: -2.2rem;
}

.container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 228px;
    height: 54px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    border-radius: 6px;
    background-color: #00a1ed;
    color: white;
}

.header-menu {
    list-style: none;
    width: 1200px;
    margin: 0 auto;
    height: 45px;
    z-index: 4;
    position: absolute;
}

.header-menu a {
    z-index: 5;
    float: left;
    text-decoration: none;
    list-style: none;
    padding: 15px;
    padding: 0 15px;
    margin-top: 10px;
    transition: all ease-in .5s;
    padding: 20px;
}

.header-menu a:hover {
    background: #808080;
}